flows alarm.txt
[{"id":"535271a8.4125","type":"delay","z":"3b1aa02e.2544c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1480,"y":120,"wires":[["17e75a1f.8dede6"]]},{"id":"212241ed.1846c6","type":"switch","z":"3b1aa02e.2544c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"false","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":570,"y":200,"wires":[["6bb67936.d706f8"]]},{"id":"fa62ef95.26949","type":"template","z":"3b1aa02e.2544c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"atencion,hay alguien en casa","output":"str","x":1400,"y":203,"wires":[["3fbebf54.459048","c3d3a616.f22e1"]]},{"id":"ed718d9b.d9e788","type":"delay","z":"3b1aa02e.2544c","name":"","pauseType":"delay","timeout":"14","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1720,"y":240,"wires":[["c8d871b0.d6f12"]]},{"id":"2b61f2ed.9bd42e","type":"comment","z":"3b1aa02e.2544c","name":"allarme ","info":"","x":90,"y":120,"wires":[]},{"id":"c7d5678e.dff01","type":"comment","z":"3b1aa02e.2544c","name":"allarme controllo vocale","info":"","x":740,"y":680,"wires":[]},{"id":"17e75a1f.8dede6","type":"template","z":"3b1aa02e.2544c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ALLERTA INTRUSIONE ","output":"str","x":1620,"y":120,"wires":[["38197d4f.adeaca"]]},{"id":"f764cc6f.0f249","type":"mqtt in","z":"3b1aa02e.2544c","name":"sensore porta ingresso","topic":"zigbee2mqtt/sensore porta ingresso","qos":"0","datatype":"utf8","broker":"","x":140,"y":160,"wires":[["ce23856c.1cfa8"]]},{"id":"ce23856c.1cfa8","type":"json","z":"3b1aa02e.2544c","name":"","property":"payload","action":"","pretty":false,"x":310,"y":200,"wires":[["fdf85b80.2a4048"]]},{"id":"fdf85b80.2a4048","type":"template","z":"3b1aa02e.2544c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.contact}}","output":"str","x":440,"y":200,"wires":[["212241ed.1846c6"]]},{"id":"7818f8e9.14aca","type":"delay","z":"3b1aa02e.2544c","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1040,"y":200,"wires":[["8469137f.4db7d8"]]},{"id":"b9f54364.4f44f","type":"template","z":"3b1aa02e.2544c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"desactivar alarma","output":"str","x":880,"y":203,"wires":[["852823ec.989f48","7818f8e9.14aca"]]},{"id":"cc1ca874.e092","type":"function","z":"3b1aa02e.2544c","name":"","func":"msg.payload = {}\nmsg.payload.volume = 33\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1860,"y":200,"wires":[["e2d6d1c2.9854f8"]]},{"id":"c8d871b0.d6f12","type":"function","z":"3b1aa02e.2544c","name":"","func":"msg.payload = {}\nmsg.payload.volume = 33\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1860,"y":240,"wires":[["51408f7a.e8f65"]]},{"id":"302cce85.5cb2d2","type":"delay","z":"3b1aa02e.2544c","name":"","pauseType":"delay","timeout":"14","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1720,"y":203,"wires":[["cc1ca874.e092"]]},{"id":"8e25fd94.68ebb8","type":"mqtt out","z":"3b1aa02e.2544c","name":"","topic":"zigbee2mqtt/rele sala/l2/set","qos":"0","retain":"false","broker":"","x":1620,"y":303,"wires":[]},{"id":"bbeee05d.a60c88","type":"template","z":"3b1aa02e.2544c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"on","output":"str","x":1400,"y":303,"wires":[["8e25fd94.68ebb8","3733224c.1ea836","a8ea3a7e.88f05","aa87581c.6c33","408c707b.601218"]]},{"id":"3733224c.1ea836","type":"mqtt out","z":"3b1aa02e.2544c","name":"","topic":"zigbee2mqtt/rele sala/l1/set","qos":"0","retain":"false","broker":"","x":1620,"y":360,"wires":[]},{"id":"a8ea3a7e.88f05","type":"mqtt out","z":"3b1aa02e.2544c","name":"","topic":"zigbee2mqtt/luce corridoio/set","qos":"0","retain":"","broker":"","x":1630,"y":420,"wires":[]},{"id":"aa87581c.6c33","type":"mqtt out","z":"3b1aa02e.2544c","name":"","topic":"zigbee2mqtt/relè bagno/set","qos":"0","retain":"","broker":"","x":1620,"y":480,"wires":[]},{"id":"408c707b.601218","type":"mqtt out","z":"3b1aa02e.2544c","name":"","topic":"zigbee2mqtt/relè letto1/set","qos":"0","retain":"","broker":"","x":1620,"y":540,"wires":[]},{"id":"87f32e58.842fe","type":"mqtt in","z":"3b1aa02e.2544c","name":"sensore porta cucina","topic":"zigbee2mqtt/sensore porta cucina","qos":"0","datatype":"utf8","broker":"","x":130,"y":240,"wires":[["ce23856c.1cfa8"]]},{"id":"fb60251a.14b55","type":"join","z":"3b1aa02e.2544c","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"payload","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":290,"y":540,"wires":[["175013fb.c96e44"]]},{"id":"51a86d26.283494","type":"google-home","z":"3b1aa02e.2544c","conf":"","device":"8446","acknowledge":true,"name":"allarme on","topic":"","x":660,"y":640,"wires":[["4d71290a.7cb9f"]]},{"id":"ca601bd7.1c951","type":"google-home","z":"3b1aa02e.2544c","conf":"","device":"8447","acknowledge":true,"name":"allarme off","topic":"","x":800,"y":640,"wires":[["418fe7aa.31907"]]},{"id":"8537b44f.c08158","type":"ui_template","z":"3b1aa02e.2544c","group":"c73426f8.81481","name":"1","order":1,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '1'})\"> \n    1\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":150,"y":340,"wires":[["fb60251a.14b55"]]},{"id":"a88c3444.33317","type":"ui_template","z":"3b1aa02e.2544c","group":"c73426f8.81481","name":"2","order":2,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '2'})\"> \n    2\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":150,"y":380,"wires":[["fb60251a.14b55"]]},{"id":"4d252981.d72af","type":"ui_template","z":"3b1aa02e.2544c","group":"c73426f8.81481","name":"3","order":3,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '3'})\"> \n    3\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":150,"y":420,"wires":[["fb60251a.14b55"]]},{"id":"c7317186.6d579","type":"ui_template","z":"3b1aa02e.2544c","group":"c73426f8.81481","name":"4","order":5,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '4'})\"> \n    4\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":150,"y":460,"wires":[["fb60251a.14b55"]]},{"id":"3bef8d1a.9f0d5a","type":"ui_template","z":"3b1aa02e.2544c","group":"c73426f8.81481","name":"5","order":6,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '5'})\"> \n    5\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":150,"y":500,"wires":[["fb60251a.14b55"]]},{"id":"3544ee56.c7173a","type":"ui_template","z":"3b1aa02e.2544c","group":"c73426f8.81481","name":"6","order":7,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '6'})\"> \n    6\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":150,"y":540,"wires":[["fb60251a.14b55"]]},{"id":"8457e4d7.97517","type":"ui_template","z":"3b1aa02e.2544c","group":"c73426f8.81481","name":"7","order":8,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '7'})\"> \n    7\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":150,"y":580,"wires":[["fb60251a.14b55"]]},{"id":"1b5d5292.372765","type":"ui_template","z":"3b1aa02e.2544c","group":"c73426f8.81481","name":"8","order":9,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '8'})\"> \n    8\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":150,"y":620,"wires":[["fb60251a.14b55"]]},{"id":"2390ad04.b8fb5a","type":"ui_template","z":"3b1aa02e.2544c","group":"c73426f8.81481","name":"9","order":10,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '9'})\"> \n    9\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":150,"y":660,"wires":[["fb60251a.14b55"]]},{"id":"d0d04fb9.d47188","type":"chatbot-telegram-send","z":"3b1aa02e.2544c","bot":"","botProduction":"","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":2070,"y":120,"wires":[]},{"id":"2cc4d235.04fe1e","type":"chatbot-video","z":"3b1aa02e.2544c","name":"","filename":"","video":"https://TUO DOMINIO.duckdns.org/local/video/soggiorno.mp4","caption":"{{payload}}","x":1910,"y":120,"wires":[["d0d04fb9.d47188"]]},{"id":"38197d4f.adeaca","type":"chatbot-conversation","z":"3b1aa02e.2544c","name":"","botDevelopment":"","botProduction":"","chatId":"","userId":"","transport":"telegram","store":"","x":1770,"y":120,"wires":[["2cc4d235.04fe1e"]]},{"id":"f0b8e72a.a38e4","type":"api-call-service","z":"3b1aa02e.2544c","name":"","server":"283c4920.f9c5e6","version":1,"debugenabled":false,"service_domain":"camera","service":"record","entityId":"camera.camera_soggiorno","data":"{\t    \"filename\": \"/config/www/video/soggiorno.mp4\",\t    \"duration\": \"30\"\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1310,"y":120,"wires":[["535271a8.4125"]]},{"id":"efa78bde.cff04","type":"api-call-service","z":"3b1aa02e.2544c","name":"xiaomi","server":"","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.xiaomi_gateway_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":950,"y":520,"wires":[[]]},{"id":"4a72147c.53e60c","type":"api-call-service","z":"3b1aa02e.2544c","name":"xiaomi","server":"","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.xiaomi_gateway_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":950,"y":560,"wires":[[]]},{"id":"4d71290a.7cb9f","type":"api-call-service","z":"3b1aa02e.2544c","name":" armed","server":"","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_arm_away","entityId":"alarm_control_panel.xiaomi_gateway_alarm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":520,"wires":[["a53ebeb4.ece018","efa78bde.cff04"]]},{"id":"418fe7aa.31907","type":"api-call-service","z":"3b1aa02e.2544c","name":" disarm","server":"","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_disarm","entityId":"alarm_control_panel.xiaomi_gateway_alarm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":560,"wires":[["a53ebeb4.ece018","4a72147c.53e60c"]]},{"id":"6bb67936.d706f8","type":"api-current-state","z":"3b1aa02e.2544c","name":"alarm xiaomi","server":"","version":1,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"alarm_control_panel.xiaomi_gateway_alarm","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":710,"y":200,"wires":[["b9f54364.4f44f"],[]]},{"id":"8469137f.4db7d8","type":"api-current-state","z":"3b1aa02e.2544c","name":"alarm xiaomi","server":"","version":1,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"alarm_control_panel.xiaomi_gateway_alarm","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1190,"y":200,"wires":[["f0b8e72a.a38e4","fa62ef95.26949","bbeee05d.a60c88"],[]]},{"id":"852823ec.989f48","type":"cast-to-client","z":"3b1aa02e.2544c","name":"nest hub","url":"","contentType":"","message":"","language":"es","ip":"","port":"","volume":"50","x":900,"y":120,"wires":[[]]},{"id":"3fbebf54.459048","type":"cast-to-client","z":"3b1aa02e.2544c","name":"home mini","url":"","contentType":"","message":"","language":"es","ip":"","port":"","volume":"99","x":1570,"y":243,"wires":[["ed718d9b.d9e788"]]},{"id":"c3d3a616.f22e1","type":"cast-to-client","z":"3b1aa02e.2544c","name":"nest hub","url":"","contentType":"","message":"","language":"es","ip":"","port":"","volume":"99","x":1560,"y":203,"wires":[["302cce85.5cb2d2"]],"icon":"node-red-contrib-cast/cast-cli4.svg"},{"id":"51408f7a.e8f65","type":"cast-to-client","z":"3b1aa02e.2544c","name":"home mini","url":"","contentType":"","message":"","language":"es","ip":"","port":"","volume":"99","x":2010,"y":240,"wires":[[]]},{"id":"e2d6d1c2.9854f8","type":"cast-to-client","z":"3b1aa02e.2544c","name":"nest hub","url":"","contentType":"","message":"","language":"es","ip":"","port":"","volume":"99","x":2000,"y":200,"wires":[[]],"icon":"node-red-contrib-cast/cast-cli4.svg"},{"id":"55b4eb47.cadf1c","type":"comment","z":"3b1aa02e.2544c","name":"check","info":"","x":1030,"y":160,"wires":[]},{"id":"53b775b9.90b72c","type":"template","z":"3b1aa02e.2544c","name":"cambiamento stato","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"pending","output":"str","x":470,"y":360,"wires":[["7c50174d.515858"]]},{"id":"a53ebeb4.ece018","type":"api-current-state","z":"3b1aa02e.2544c","name":"alarm xiaomi","server":"283c4920.f9c5e6","version":1,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"alarm_control_panel.xiaomi_gateway_alarm","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":710,"y":420,"wires":[["7c50174d.515858"],["7c50174d.515858"]]},{"id":"b05d02fd.862628","type":"function","z":"3b1aa02e.2544c","name":"Global Settings","func":"\n\n// Global Settings\nglobal.set(\"Counter\",0) \nglobal.set(\"Imagepath\",\"https://william1492.duckdns.org/local/\")\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":285,"y":917,"wires":[[]]},{"id":"ed8e96a3.8521","type":"inject","z":"3b1aa02e.2544c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"4","topic":"","payload":"","payloadType":"date","x":105,"y":917,"wires":[["b05d02fd.862628"]]},{"id":"be2ca8fa.90a288","type":"ui_template","z":"3b1aa02e.2544c","group":"1f972ff.9b9f75","name":"Show Alarm Status Image","order":1,"width":6,"height":5,"format":"<style>\n/* Firefox old*/\n@-moz-keyframes blink {\n    0% { opacity:1;}\n    50% {opacity:0;}\n    100% {opacity:1;}\n} \n\n@-webkit-keyframes blink {\n    0% {opacity:1;}\n    50% {opacity:0;}\n    100% {opacity:1;}\n}\n/* IE */\n@-ms-keyframes blink {\n    0% {opacity:1;}\n    50% {opacity:0;}\n    100% {opacity:1;}\n} \n/* Opera and prob css3 final iteration */\n@keyframes blink {\n    0% {opacity:1;}\n    50% {opacity:0;}\n    100% {opacity:1;}\n} \n.blink-image {\n    -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */\n    -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */\n    -ms-animation: blink normal 2s infinite ease-in-out; /* IE */\n    animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */\n    display: block;\n    margin-left: auto;\n    margin-right: auto;\n    width:250px;\n    vertical-align: middle;\n}\n\n.marginauto {\n    display: block;\n    margin-left: auto;\n    margin-right: auto;\n    width:250px;\n    vertical-align: middle;\n}\n\n</style>\n\n\n<div  ng-click=\"send({payload:'Clicked'});\">\n  \n<div ng-bind-html=\"msg.payload\"></div>\n\n</div>\n\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":950,"y":360,"wires":[[]]},{"id":"7c50174d.515858","type":"function","z":"3b1aa02e.2544c","name":"set state image","func":"imagepath = global.get(\"Imagepath\"); \nif (msg.payload === \"armed_away\") { msg.payload = '<img class=\"marginauto\" src=\"' + imagepath + 'lock.png\">'; }\nelse if (msg.payload === \"pending\") { msg.payload = '<img class=\"blink-image\" src=\"' + imagepath + 'attention.png\">'; }\nelse if (msg.payload === \"disarmed\") { msg.payload = '<img class=\"marginauto\" src=\"' + imagepath + 'unlock.png\">'; }\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":360,"wires":[["be2ca8fa.90a288"]]},{"id":"385ac20d.b2126e","type":"ui_template","z":"3b1aa02e.2544c","group":"c73426f8.81481","name":"stili pulsanti","order":4,"width":0,"height":0,"format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 20px 20px 20px 20px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 14px;\n}\n\n   .littlefont {\n  font-size: 10px;\n}\n\n  #masonry-container {\n      background: white;\n  }\n  \n  }\n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"#33ccff\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":115,"y":877,"wires":[[]]},{"id":"6d913c7.c949ac4","type":"comment","z":"3b1aa02e.2544c","name":"settaggi","info":"","x":95,"y":837,"wires":[]},{"id":"d644b02e.337228","type":"ui_template","z":"3b1aa02e.2544c","group":"c73426f8.81481","name":"C","order":12,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:gray\"   ng-click=\"send({payload: 'stop'})\"> \n    C\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":150,"y":700,"wires":[["175013fb.c96e44"]]},{"id":"abe287b5.89046","type":"ui_template","z":"3b1aa02e.2544c","group":"c73426f8.81481","name":"ON","order":13,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:red\"   ng-click=\"send({payload: 'on'})\"> \n    ON\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":150,"y":740,"wires":[["175013fb.c96e44"]]},{"id":"eae91456.76ebc8","type":"comment","z":"3b1aa02e.2544c","name":"pulsantiera dasboard","info":"","x":163,"y":300,"wires":[]},{"id":"175013fb.c96e44","type":"switch","z":"3b1aa02e.2544c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"123enter","vt":"str"},{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":430,"y":540,"wires":[["5314a4e7.293414","53b775b9.90b72c"],["418fe7aa.31907"],["7235ab96.1e5be4"]]},{"id":"5a935925.369a5","type":"ui_gauge","z":"3b1aa02e.2544c","name":"","group":"1f972ff.9b9f75","order":2,"width":6,"height":3,"gtype":"donut","title":"","label":"s","format":"{{value | number:0}}","min":0,"max":"20","colors":["#ff2600","#e6e600","#00f900"],"seg1":"5","seg2":"30","x":950,"y":820,"wires":[]},{"id":"43a5c693.a9573","type":"function","z":"3b1aa02e.2544c","name":"","func":"var secondi = msg.payload ;\nmsg.payload=secondi;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":820,"wires":[["5a935925.369a5"]]},{"id":"3cbbea76.f06bde","type":"ui_toast","z":"3b1aa02e.2544c","position":"top left","displayTime":"2","highlight":"#e83a2c","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":820,"y":760,"wires":[]},{"id":"2f346ade.dfe696","type":"mytimeout","z":"3b1aa02e.2544c","name":"timer ","outtopic":"","outsafe":"","outwarning":"allarme in attivazione","outunsafe":"allarme attivato","warning":"5","timer":"20","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":610,"y":760,"wires":[["3cbbea76.f06bde"],["43a5c693.a9573","951d871b.859d88"]]},{"id":"5314a4e7.293414","type":"template","z":"3b1aa02e.2544c","name":"start","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"payload\": \"on\",\n    \"timeout\": 20,\n    \"warning\": 5\n}","output":"json","x":490,"y":660,"wires":[["2f346ade.dfe696"]]},{"id":"7235ab96.1e5be4","type":"template","z":"3b1aa02e.2544c","name":"stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"payload\": \"stop\" }","output":"str","x":490,"y":700,"wires":[["2f346ade.dfe696"]]},{"id":"951d871b.859d88","type":"switch","z":"3b1aa02e.2544c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"-1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":540,"wires":[["4d71290a.7cb9f"],["a53ebeb4.ece018"]]},{"id":"a12b45b.acfdab8","type":"ui_template","z":"3b1aa02e.2544c","group":"c73426f8.81481","name":"ENTER","order":11,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:blue\"   ng-click=\"send({payload: 'enter'})\"> \n    enter\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":140,"y":780,"wires":[["fb60251a.14b55"]]},{"id":"ba05eed2.70bbd8","type":"comment","z":"3b1aa02e.2544c","name":"video telegram","info":"","x":1320,"y":80,"wires":[]},{"id":"c73426f8.81481","type":"ui_group","name":"alarm","tab":"59af066d.01c3e","order":1,"disp":false,"width":"6","collapse":false},{"id":"283c4920.f9c5e6","type":"server","name":"HomeAssistant container","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"1f972ff.9b9f75","type":"ui_group","name":"image","tab":"59af066d.01c3e","order":2,"disp":false,"width":6,"collapse":false},{"id":"59af066d.01c3e","type":"ui_tab","name":"Home","icon":"fa-home","order":1,"disabled":false,"hidden":false}]
