flows alarm.txt
[{"id":"18acc7aa.919528","type":"delay","z":"66d0407.def1ec","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1440,"y":120,"wires":[["51e37032.aa496"]]},{"id":"640a0928.1d21f","type":"switch","z":"66d0407.def1ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"false","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":530,"y":200,"wires":[["640430f0.f0789"]]},{"id":"623e5c0f.708104","type":"template","z":"66d0407.def1ec","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"atencion,hay alguien en casa","output":"str","x":1360,"y":203,"wires":[["769eb8d8.40b8e8","8d612927.33c2a"]]},{"id":"547ff0b3.d48e","type":"delay","z":"66d0407.def1ec","name":"","pauseType":"delay","timeout":"14","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1680,"y":240,"wires":[["fe79c14f.86b22"]]},{"id":"db4f9c60.391188","type":"comment","z":"66d0407.def1ec","name":"allarme ","info":"","x":50,"y":120,"wires":[]},{"id":"db9c66fe.263a2","type":"comment","z":"66d0407.def1ec","name":"allarme controllo vocale","info":"","x":700,"y":680,"wires":[]},{"id":"51e37032.aa496","type":"template","z":"66d0407.def1ec","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ALLERTA INTRUSIONE ","output":"str","x":1580,"y":120,"wires":[["1bdfbe70.44ff5a"]]},{"id":"f80209b2.2053e","type":"mqtt in","z":"66d0407.def1ec","name":"sensore porta ingresso","topic":"zigbee2mqtt/sensore porta ingresso","qos":"0","datatype":"utf8","broker":"","x":100,"y":160,"wires":[["bcfbdb89.da9348"]]},{"id":"bcfbdb89.da9348","type":"json","z":"66d0407.def1ec","name":"","property":"payload","action":"","pretty":false,"x":270,"y":200,"wires":[["720cee1b.dc1988"]]},{"id":"720cee1b.dc1988","type":"template","z":"66d0407.def1ec","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.contact}}","output":"str","x":400,"y":200,"wires":[["640a0928.1d21f"]]},{"id":"e59e51b.1cf8e3","type":"delay","z":"66d0407.def1ec","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":200,"wires":[["e3d7931a.bdb41"]]},{"id":"8bba4d3f.e7a5a8","type":"template","z":"66d0407.def1ec","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"desactivar alarma","output":"str","x":840,"y":203,"wires":[["f880d9df.e3f09","e59e51b.1cf8e3"]]},{"id":"c32695a.d9aee68","type":"function","z":"66d0407.def1ec","name":"","func":"msg.payload = {}\nmsg.payload.volume = 33\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1820,"y":200,"wires":[["4ec71e1b.5d1838"]]},{"id":"fe79c14f.86b22","type":"function","z":"66d0407.def1ec","name":"","func":"msg.payload = {}\nmsg.payload.volume = 33\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1820,"y":240,"wires":[["8a3e8329.b07d3"]]},{"id":"9d5f293a.161288","type":"delay","z":"66d0407.def1ec","name":"","pauseType":"delay","timeout":"14","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1680,"y":203,"wires":[["c32695a.d9aee68"]]},{"id":"ac48183.23df3e8","type":"mqtt out","z":"66d0407.def1ec","name":"","topic":"zigbee2mqtt/rele sala/l2/set","qos":"0","retain":"false","broker":"","x":1580,"y":303,"wires":[]},{"id":"d375deed.991328","type":"template","z":"66d0407.def1ec","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"on","output":"str","x":1360,"y":303,"wires":[["ac48183.23df3e8","89181378.251908","224ec617.6833a2","57a0c422.d3576c","176e49fc.a6655e"]]},{"id":"89181378.251908","type":"mqtt out","z":"66d0407.def1ec","name":"","topic":"zigbee2mqtt/rele sala/l1/set","qos":"0","retain":"false","broker":"","x":1580,"y":360,"wires":[]},{"id":"224ec617.6833a2","type":"mqtt out","z":"66d0407.def1ec","name":"","topic":"zigbee2mqtt/luce corridoio/set","qos":"0","retain":"","broker":"","x":1590,"y":420,"wires":[]},{"id":"57a0c422.d3576c","type":"mqtt out","z":"66d0407.def1ec","name":"","topic":"zigbee2mqtt/relè bagno/set","qos":"0","retain":"","broker":"","x":1580,"y":480,"wires":[]},{"id":"176e49fc.a6655e","type":"mqtt out","z":"66d0407.def1ec","name":"","topic":"zigbee2mqtt/relè letto1/set","qos":"0","retain":"","broker":"","x":1580,"y":540,"wires":[]},{"id":"aea0568c.ccbf58","type":"mqtt in","z":"66d0407.def1ec","name":"sensore porta cucina","topic":"zigbee2mqtt/sensore porta cucina","qos":"0","datatype":"utf8","broker":"","x":90,"y":240,"wires":[["bcfbdb89.da9348"]]},{"id":"9dd4a3bc.a7b5a","type":"join","z":"66d0407.def1ec","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"payload","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":250,"y":540,"wires":[["c6c85791.8e3da"]]},{"id":"32f89037.5dd35","type":"google-home","z":"66d0407.def1ec","conf":"","device":"8446","acknowledge":true,"name":"allarme on","topic":"","x":620,"y":640,"wires":[["232c09e7.395056"]]},{"id":"baae3801.75ffc8","type":"google-home","z":"66d0407.def1ec","conf":"","device":"8447","acknowledge":true,"name":"allarme off","topic":"","x":760,"y":640,"wires":[["93b15f29.25911"]]},{"id":"81a63644.eeda7","type":"ui_template","z":"66d0407.def1ec","group":"c73426f8.81481","name":"1","order":1,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '1'})\"> \n    1\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":110,"y":340,"wires":[["9dd4a3bc.a7b5a"]]},{"id":"c85b3a16.5db3c","type":"ui_template","z":"66d0407.def1ec","group":"c73426f8.81481","name":"2","order":2,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '2'})\"> \n    2\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":110,"y":380,"wires":[["9dd4a3bc.a7b5a"]]},{"id":"95271f6f.367e7","type":"ui_template","z":"66d0407.def1ec","group":"c73426f8.81481","name":"3","order":3,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '3'})\"> \n    3\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":110,"y":420,"wires":[["9dd4a3bc.a7b5a"]]},{"id":"98630a69.653068","type":"ui_template","z":"66d0407.def1ec","group":"c73426f8.81481","name":"4","order":5,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '4'})\"> \n    4\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":110,"y":460,"wires":[["9dd4a3bc.a7b5a"]]},{"id":"db7d1e90.f6fe7","type":"ui_template","z":"66d0407.def1ec","group":"c73426f8.81481","name":"5","order":6,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '5'})\"> \n    5\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":110,"y":500,"wires":[["9dd4a3bc.a7b5a"]]},{"id":"1758b8ca.1a9d1f","type":"ui_template","z":"66d0407.def1ec","group":"c73426f8.81481","name":"6","order":7,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '6'})\"> \n    6\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":110,"y":540,"wires":[["9dd4a3bc.a7b5a"]]},{"id":"c3cdd555.83a8f","type":"ui_template","z":"66d0407.def1ec","group":"c73426f8.81481","name":"7","order":8,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '7'})\"> \n    7\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":110,"y":580,"wires":[["9dd4a3bc.a7b5a"]]},{"id":"3f75333a.c0bd4c","type":"ui_template","z":"66d0407.def1ec","group":"c73426f8.81481","name":"8","order":9,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '8'})\"> \n    8\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":110,"y":620,"wires":[["9dd4a3bc.a7b5a"]]},{"id":"535e0532.173e74","type":"ui_template","z":"66d0407.def1ec","group":"c73426f8.81481","name":"9","order":10,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '9'})\"> \n    9\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":110,"y":660,"wires":[["9dd4a3bc.a7b5a"]]},{"id":"6ff12d72.52b11c","type":"chatbot-telegram-send","z":"66d0407.def1ec","bot":"","botProduction":"","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":2030,"y":120,"wires":[]},{"id":"c402c363.ebb808","type":"chatbot-video","z":"66d0407.def1ec","name":"","filename":"","video":"https://TUO DOMINIO.duckdns.org/local/video/soggiorno.mp4","caption":"{{payload}}","x":1870,"y":120,"wires":[["6ff12d72.52b11c"]]},{"id":"1bdfbe70.44ff5a","type":"chatbot-conversation","z":"66d0407.def1ec","name":"","botDevelopment":"","botProduction":"","chatId":"","userId":"","transport":"telegram","store":"","x":1730,"y":120,"wires":[["c402c363.ebb808"]]},{"id":"8b313462.c249e8","type":"api-call-service","z":"66d0407.def1ec","name":"","server":"283c4920.f9c5e6","version":1,"debugenabled":false,"service_domain":"camera","service":"record","entityId":"camera.camera_soggiorno","data":"{\t    \"filename\": \"/config/www/video/soggiorno.mp4\",\t    \"duration\": \"30\"\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1270,"y":120,"wires":[["18acc7aa.919528"]]},{"id":"479f2ebb.ff518","type":"api-call-service","z":"66d0407.def1ec","name":"xiaomi","server":"","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.xiaomi_gateway_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":520,"wires":[[]]},{"id":"b60def1.5ec5a9","type":"api-call-service","z":"66d0407.def1ec","name":"xiaomi","server":"","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.xiaomi_gateway_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":560,"wires":[[]]},{"id":"232c09e7.395056","type":"api-call-service","z":"66d0407.def1ec","name":" armed","server":"283c4920.f9c5e6","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_arm_away","entityId":"alarm_control_panel.xiaomi_gateway_alarm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":520,"wires":[["71711b5f.73f934","479f2ebb.ff518"]]},{"id":"93b15f29.25911","type":"api-call-service","z":"66d0407.def1ec","name":" disarm","server":"","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_disarm","entityId":"alarm_control_panel.xiaomi_gateway_alarm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":560,"wires":[["71711b5f.73f934","b60def1.5ec5a9"]]},{"id":"640430f0.f0789","type":"api-current-state","z":"66d0407.def1ec","name":"alarm xiaomi","server":"","version":1,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"alarm_control_panel.xiaomi_gateway_alarm","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":670,"y":200,"wires":[["8bba4d3f.e7a5a8"],[]]},{"id":"e3d7931a.bdb41","type":"api-current-state","z":"66d0407.def1ec","name":"alarm xiaomi","server":"","version":1,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"alarm_control_panel.xiaomi_gateway_alarm","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1150,"y":200,"wires":[["8b313462.c249e8","623e5c0f.708104","d375deed.991328"],[]]},{"id":"f880d9df.e3f09","type":"cast-to-client","z":"66d0407.def1ec","name":"nest hub","url":"","contentType":"","message":"","language":"es","ip":"","port":"","volume":"50","x":860,"y":120,"wires":[[]]},{"id":"769eb8d8.40b8e8","type":"cast-to-client","z":"66d0407.def1ec","name":"home mini","url":"","contentType":"","message":"","language":"es","ip":"","port":"","volume":"99","x":1530,"y":243,"wires":[["547ff0b3.d48e"]]},{"id":"8d612927.33c2a","type":"cast-to-client","z":"66d0407.def1ec","name":"nest hub","url":"","contentType":"","message":"","language":"es","ip":"","port":"","volume":"99","x":1520,"y":203,"wires":[["9d5f293a.161288"]],"icon":"node-red-contrib-cast/cast-cli4.svg"},{"id":"8a3e8329.b07d3","type":"cast-to-client","z":"66d0407.def1ec","name":"home mini","url":"","contentType":"","message":"","language":"es","ip":"","port":"","volume":"99","x":1970,"y":240,"wires":[[]]},{"id":"4ec71e1b.5d1838","type":"cast-to-client","z":"66d0407.def1ec","name":"nest hub","url":"","contentType":"","message":"","language":"es","ip":"","port":"","volume":"99","x":1960,"y":200,"wires":[[]],"icon":"node-red-contrib-cast/cast-cli4.svg"},{"id":"715f4fd7.3c4b5","type":"comment","z":"66d0407.def1ec","name":"check","info":"","x":990,"y":160,"wires":[]},{"id":"f601f8ac.3ad91","type":"template","z":"66d0407.def1ec","name":"cambiamento stato","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"pending","output":"str","x":430,"y":360,"wires":[["b8307f1e.a14308"]]},{"id":"71711b5f.73f934","type":"api-current-state","z":"66d0407.def1ec","name":"alarm xiaomi","server":"283c4920.f9c5e6","version":1,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"alarm_control_panel.xiaomi_gateway_alarm","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":670,"y":420,"wires":[["b8307f1e.a14308"],["b8307f1e.a14308"]]},{"id":"2316d017.c2e038","type":"function","z":"66d0407.def1ec","name":"Global Settings","func":"\n\n// Global Settings\nglobal.set(\"Counter\",0) \nglobal.set(\"Imagepath\",\"https://TUO DOMINIO.duckdns.org/local/\")\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":245,"y":917,"wires":[[]]},{"id":"c10147df.f85908","type":"inject","z":"66d0407.def1ec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"4","topic":"","payload":"","payloadType":"date","x":65,"y":917,"wires":[["2316d017.c2e038"]]},{"id":"8a9cd643.07a0d8","type":"ui_template","z":"66d0407.def1ec","group":"1f972ff.9b9f75","name":"Show Alarm Status Image","order":1,"width":6,"height":5,"format":"<style>\n/* Firefox old*/\n@-moz-keyframes blink {\n    0% { opacity:1;}\n    50% {opacity:0;}\n    100% {opacity:1;}\n} \n\n@-webkit-keyframes blink {\n    0% {opacity:1;}\n    50% {opacity:0;}\n    100% {opacity:1;}\n}\n/* IE */\n@-ms-keyframes blink {\n    0% {opacity:1;}\n    50% {opacity:0;}\n    100% {opacity:1;}\n} \n/* Opera and prob css3 final iteration */\n@keyframes blink {\n    0% {opacity:1;}\n    50% {opacity:0;}\n    100% {opacity:1;}\n} \n.blink-image {\n    -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */\n    -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */\n    -ms-animation: blink normal 2s infinite ease-in-out; /* IE */\n    animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */\n    display: block;\n    margin-left: auto;\n    margin-right: auto;\n    width:250px;\n    vertical-align: middle;\n}\n\n.marginauto {\n    display: block;\n    margin-left: auto;\n    margin-right: auto;\n    width:250px;\n    vertical-align: middle;\n}\n\n</style>\n\n\n<div  ng-click=\"send({payload:'Clicked'});\">\n  \n<div ng-bind-html=\"msg.payload\"></div>\n\n</div>\n\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":910,"y":360,"wires":[[]]},{"id":"b8307f1e.a14308","type":"function","z":"66d0407.def1ec","name":"set state image","func":"imagepath = global.get(\"Imagepath\"); \nif (msg.payload === \"armed_away\") { msg.payload = '<img class=\"marginauto\" src=\"' + imagepath + 'lock.png\">'; }\nelse if (msg.payload === \"pending\") { msg.payload = '<img class=\"blink-image\" src=\"' + imagepath + 'attention.png\">'; }\nelse if (msg.payload === \"disarmed\") { msg.payload = '<img class=\"marginauto\" src=\"' + imagepath + 'unlock.png\">'; }\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":360,"wires":[["8a9cd643.07a0d8"]]},{"id":"b346b3a.cb8f7d","type":"ui_template","z":"66d0407.def1ec","group":"c73426f8.81481","name":"stili pulsanti","order":4,"width":0,"height":0,"format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 20px 20px 20px 20px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 14px;\n}\n\n   .littlefont {\n  font-size: 10px;\n}\n\n  #masonry-container {\n      background: white;\n  }\n  \n  }\n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"#33ccff\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":75,"y":877,"wires":[[]]},{"id":"a2dc230c.ab10a8","type":"comment","z":"66d0407.def1ec","name":"settaggi","info":"","x":55,"y":837,"wires":[]},{"id":"44d3dd41.9ac3c4","type":"ui_template","z":"66d0407.def1ec","group":"c73426f8.81481","name":"C","order":12,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:gray\"   ng-click=\"send({payload: 'stop'})\"> \n    C\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":110,"y":700,"wires":[["c6c85791.8e3da"]]},{"id":"25618827.1d3828","type":"ui_template","z":"66d0407.def1ec","group":"c73426f8.81481","name":"ON","order":13,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:red\"   ng-click=\"send({payload: 'on'})\"> \n    ON\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":110,"y":740,"wires":[["c6c85791.8e3da"]]},{"id":"ffc37e77.87b8b8","type":"comment","z":"66d0407.def1ec","name":"pulsantiera dasboard","info":"","x":123,"y":300,"wires":[]},{"id":"c6c85791.8e3da","type":"switch","z":"66d0407.def1ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"123enter","vt":"str"},{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":390,"y":540,"wires":[["900ea468.0d4d08","f601f8ac.3ad91"],["93b15f29.25911"],["277cd56a.aa7162"]]},{"id":"c7fccd0.0350bb","type":"ui_gauge","z":"66d0407.def1ec","name":"","group":"1f972ff.9b9f75","order":2,"width":6,"height":3,"gtype":"donut","title":"","label":"s","format":"{{value | number:0}}","min":0,"max":"20","colors":["#ff2600","#e6e600","#00f900"],"seg1":"5","seg2":"30","x":910,"y":820,"wires":[]},{"id":"8e1b1f8e.df55b","type":"function","z":"66d0407.def1ec","name":"","func":"var secondi = msg.payload ;\nmsg.payload=secondi;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":820,"wires":[["c7fccd0.0350bb"]]},{"id":"294407a9.e050a","type":"ui_toast","z":"66d0407.def1ec","position":"top left","displayTime":"2","highlight":"#e83a2c","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":780,"y":760,"wires":[]},{"id":"e4cc950a.56354","type":"mytimeout","z":"66d0407.def1ec","name":"timer ","outtopic":"","outsafe":"","outwarning":"allarme in attivazione","outunsafe":"allarme attivato","warning":"5","timer":"20","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":570,"y":760,"wires":[["294407a9.e050a"],["8e1b1f8e.df55b","e4d05e20.49728"]]},{"id":"900ea468.0d4d08","type":"template","z":"66d0407.def1ec","name":"start","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"payload\": \"on\",\n    \"timeout\": 20,\n    \"warning\": 5\n}","output":"json","x":450,"y":660,"wires":[["e4cc950a.56354"]]},{"id":"277cd56a.aa7162","type":"template","z":"66d0407.def1ec","name":"stop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"payload\": \"stop\" }","output":"str","x":450,"y":700,"wires":[["e4cc950a.56354"]]},{"id":"e4d05e20.49728","type":"switch","z":"66d0407.def1ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"-1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":540,"wires":[["232c09e7.395056"],["71711b5f.73f934"]]},{"id":"f426909.29de07","type":"ui_template","z":"66d0407.def1ec","group":"c73426f8.81481","name":"ENTER","order":11,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:blue\"   ng-click=\"send({payload: 'enter'})\"> \n    enter\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":100,"y":780,"wires":[["9dd4a3bc.a7b5a"]]},{"id":"facfdf8f.e179a8","type":"comment","z":"66d0407.def1ec","name":"video telegram","info":"","x":1280,"y":80,"wires":[]},{"id":"c73426f8.81481","type":"ui_group","name":"alarm","tab":"59af066d.01c3e","order":1,"disp":false,"width":"6","collapse":false},{"id":"283c4920.f9c5e6","type":"server","name":"HomeAssistant container","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"1f972ff.9b9f75","type":"ui_group","name":"image","tab":"59af066d.01c3e","order":2,"disp":false,"width":6,"collapse":false},{"id":"59af066d.01c3e","type":"ui_tab","name":"Home","icon":"fa-home","order":1,"disabled":false,"hidden":false}]
