flows alarm.txt
[{"id":"96857d98.ce869","type":"delay","z":"d4d25319.040dd","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1460,"y":220,"wires":[["685f25b5.afac4c"]]},{"id":"6c4d9e38.7fc45","type":"switch","z":"d4d25319.040dd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"false","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":530,"y":300,"wires":[["decc24e4.4b2df"]]},{"id":"11359329.1582f5","type":"template","z":"d4d25319.040dd","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"atencion,hay alguien en casa","output":"str","x":1360,"y":303,"wires":[["6a27398a.1688f8","85f7c0c2.a0e96"]]},{"id":"2a00e5fb.c8019a","type":"delay","z":"d4d25319.040dd","name":"","pauseType":"delay","timeout":"14","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1740,"y":340,"wires":[["3967bffc.e2d29"]]},{"id":"e567bdb9.833998","type":"comment","z":"d4d25319.040dd","name":"allarme ","info":"","x":50,"y":220,"wires":[]},{"id":"b9c1164e.7f44f8","type":"comment","z":"d4d25319.040dd","name":"allarme controllo vocale","info":"","x":740,"y":660,"wires":[]},{"id":"685f25b5.afac4c","type":"template","z":"d4d25319.040dd","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ALLERTA INTRUSIONE ","output":"str","x":1620,"y":220,"wires":[["dd99d268.c169c8"]]},{"id":"56c2af18.cb4098","type":"mqtt in","z":"d4d25319.040dd","name":"sensore porta ingresso","topic":"zigbee2mqtt/sensore porta ingresso","qos":"0","datatype":"utf8","broker":"","x":100,"y":280,"wires":[["d2e180d7.356268"]]},{"id":"d2e180d7.356268","type":"json","z":"d4d25319.040dd","name":"","property":"payload","action":"","pretty":false,"x":270,"y":300,"wires":[["57f2d3e.327a5ac"]]},{"id":"57f2d3e.327a5ac","type":"template","z":"d4d25319.040dd","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.contact}}","output":"str","x":400,"y":300,"wires":[["6c4d9e38.7fc45"]]},{"id":"c5748cde.1b7358","type":"delay","z":"d4d25319.040dd","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":300,"wires":[["28c3675d.a180d8"]]},{"id":"1fc314e0.d095b3","type":"template","z":"d4d25319.040dd","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"desactivar alarma","output":"str","x":840,"y":303,"wires":[["c375983e.1575b8","c5748cde.1b7358"]]},{"id":"e9b37a28.a66a8","type":"function","z":"d4d25319.040dd","name":"","func":"msg.payload = {}\nmsg.payload.volume = 33\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1880,"y":300,"wires":[["1e402f.d965afd1"]]},{"id":"3967bffc.e2d29","type":"function","z":"d4d25319.040dd","name":"","func":"msg.payload = {}\nmsg.payload.volume = 33\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1880,"y":340,"wires":[["e4d071e3.d660e"]]},{"id":"3cd7168c.e6c89a","type":"delay","z":"d4d25319.040dd","name":"","pauseType":"delay","timeout":"14","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1740,"y":303,"wires":[["e9b37a28.a66a8"]]},{"id":"4cfa5cb.a2e0fa4","type":"mqtt out","z":"d4d25319.040dd","name":"","topic":"zigbee2mqtt/rele sala/l2/set","qos":"0","retain":"false","broker":"","x":1580,"y":403,"wires":[]},{"id":"700da829.4b57d8","type":"template","z":"d4d25319.040dd","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"on","output":"str","x":1360,"y":403,"wires":[["4cfa5cb.a2e0fa4","87263058.d3af2","249b79dc.cf105e","ca21421b.963b6","88eac642.ad6198"]]},{"id":"87263058.d3af2","type":"mqtt out","z":"d4d25319.040dd","name":"","topic":"zigbee2mqtt/rele sala/l1/set","qos":"0","retain":"false","broker":"","x":1580,"y":460,"wires":[]},{"id":"249b79dc.cf105e","type":"mqtt out","z":"d4d25319.040dd","name":"","topic":"zigbee2mqtt/luce corridoio/set","qos":"0","retain":"","broker":"","x":1590,"y":520,"wires":[]},{"id":"ca21421b.963b6","type":"mqtt out","z":"d4d25319.040dd","name":"","topic":"zigbee2mqtt/relè bagno/set","qos":"0","retain":"","broker":"","x":1580,"y":580,"wires":[]},{"id":"88eac642.ad6198","type":"mqtt out","z":"d4d25319.040dd","name":"","topic":"zigbee2mqtt/relè letto1/set","qos":"0","retain":"","broker":"","x":1580,"y":640,"wires":[]},{"id":"c23af72d.f9b968","type":"mqtt in","z":"d4d25319.040dd","name":"sensore porta cucina","topic":"zigbee2mqtt/sensore porta cucina","qos":"0","datatype":"utf8","broker":"","x":90,"y":340,"wires":[["d2e180d7.356268"]]},{"id":"58a1eaf3.b50e24","type":"switch","z":"d4d25319.040dd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"28","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":580,"wires":[["4c604714.4ad518"],["53143ac5.9299fc"]]},{"id":"fef76e0e.431338","type":"join","z":"d4d25319.040dd","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"4","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":250,"y":580,"wires":[["27dd2c65.2f43e4"]]},{"id":"27dd2c65.2f43e4","type":"join","z":"d4d25319.040dd","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":370,"y":580,"wires":[["fd7765b4.a7f32"]]},{"id":"2e148d71.9739c2","type":"google-home","z":"d4d25319.040dd","conf":"","device":"8446","acknowledge":true,"name":"allarme on","topic":"","x":760,"y":540,"wires":[["4c604714.4ad518"]]},{"id":"35d10bf2.24ab5c","type":"google-home","z":"d4d25319.040dd","conf":"d6eb485.fb52638","device":"8447","acknowledge":true,"name":"allarme off","topic":"","x":760,"y":620,"wires":[["53143ac5.9299fc"]]},{"id":"bd763f1c.fe9aa8","type":"ui_template","z":"d4d25319.040dd","group":"c73426f8.81481","name":"1","order":1,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '1'})\"> \n    1\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":110,"y":440,"wires":[["fef76e0e.431338"]]},{"id":"8fdf94e8.14d85","type":"ui_template","z":"d4d25319.040dd","group":"c73426f8.81481","name":"2","order":2,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '2'})\"> \n    2\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":110,"y":480,"wires":[["fef76e0e.431338"]]},{"id":"23b83661.f7e552","type":"ui_template","z":"d4d25319.040dd","group":"c73426f8.81481","name":"3","order":3,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '3'})\"> \n    3\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":110,"y":520,"wires":[["fef76e0e.431338"]]},{"id":"24e48c9f.da66ac","type":"ui_template","z":"d4d25319.040dd","group":"c73426f8.81481","name":"4","order":4,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '4'})\"> \n    4\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":110,"y":560,"wires":[["fef76e0e.431338"]]},{"id":"d0cf3bdb.f54f08","type":"ui_template","z":"d4d25319.040dd","group":"c73426f8.81481","name":"5","order":5,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '5'})\"> \n    5\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":110,"y":600,"wires":[["fef76e0e.431338"]]},{"id":"38284c5f.6e1f3c","type":"ui_template","z":"d4d25319.040dd","group":"c73426f8.81481","name":"6","order":6,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '6'})\"> \n    6\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":110,"y":640,"wires":[["fef76e0e.431338"]]},{"id":"7a97f88e.a23298","type":"ui_template","z":"d4d25319.040dd","group":"c73426f8.81481","name":"7","order":7,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '7'})\"> \n    7\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":110,"y":680,"wires":[["fef76e0e.431338"]]},{"id":"fedcb94.d7ed048","type":"ui_template","z":"d4d25319.040dd","group":"c73426f8.81481","name":"8","order":8,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '8'})\"> \n    8\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":110,"y":720,"wires":[["fef76e0e.431338"]]},{"id":"4f5ba91f.2bc8d","type":"ui_template","z":"d4d25319.040dd","group":"c73426f8.81481","name":"9","order":9,"width":2,"height":2,"format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: '9'})\"> \n    9\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":110,"y":760,"wires":[["fef76e0e.431338"]]},{"id":"14654ddc.4cd152","type":"chatbot-telegram-send","z":"d4d25319.040dd","bot":"","botProduction":"","track":false,"passThrough":false,"errorOutput":false,"outputs":0,"x":2130,"y":220,"wires":[]},{"id":"559cc3f4.49b09c","type":"chatbot-video","z":"d4d25319.040dd","name":"","filename":"","video":"https://YOUR PATH /local/video/soggiorno.mp4","caption":"{{payload}}","x":1950,"y":220,"wires":[["14654ddc.4cd152"]]},{"id":"dd99d268.c169c8","type":"chatbot-conversation","z":"d4d25319.040dd","name":"","botDevelopment":"","botProduction":"","chatId":"","userId":"","transport":"telegram","store":"","x":1790,"y":220,"wires":[["559cc3f4.49b09c"]]},{"id":"9ec515d6.6cf2f8","type":"api-call-service","z":"d4d25319.040dd","name":"","server":"","version":1,"debugenabled":false,"service_domain":"camera","service":"record","entityId":"camera.camera_soggiorno","data":"{\t    \"filename\": \"/config/www/video/soggiorno.mp4\",\t    \"duration\": \"30\"\t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1270,"y":220,"wires":[["96857d98.ce869"]]},{"id":"e74ab8d.633a848","type":"api-call-service","z":"d4d25319.040dd","name":"xiaomi","server":"283c4920.f9c5e6","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.xiaomi_gateway_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":560,"wires":[[]]},{"id":"64381619.600ca8","type":"api-call-service","z":"d4d25319.040dd","name":"xiaomi","server":"283c4920.f9c5e6","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.xiaomi_gateway_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":600,"wires":[[]]},{"id":"4c604714.4ad518","type":"api-call-service","z":"d4d25319.040dd","name":" armed","server":"283c4920.f9c5e6","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_arm_away","entityId":"alarm_control_panel.xiaomi_gateway_alarm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":560,"wires":[["eebcd172.ce14c","e74ab8d.633a848"]]},{"id":"53143ac5.9299fc","type":"api-call-service","z":"d4d25319.040dd","name":" disarm","server":"283c4920.f9c5e6","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarm_disarm","entityId":"alarm_control_panel.xiaomi_gateway_alarm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":600,"wires":[["eebcd172.ce14c","64381619.600ca8"]]},{"id":"decc24e4.4b2df","type":"api-current-state","z":"d4d25319.040dd","name":"alarm xiaomi","server":"","version":1,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"alarm_control_panel.xiaomi_gateway_alarm","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":670,"y":300,"wires":[["1fc314e0.d095b3","de743867.f8442"],[]]},{"id":"28c3675d.a180d8","type":"api-current-state","z":"d4d25319.040dd","name":"alarm xiaomi","server":"","version":1,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"alarm_control_panel.xiaomi_gateway_alarm","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1150,"y":300,"wires":[["9ec515d6.6cf2f8","11359329.1582f5","700da829.4b57d8"],[]]},{"id":"c375983e.1575b8","type":"cast-to-client","z":"d4d25319.040dd","name":"nest hub","url":"","contentType":"","message":"","language":"es","ip":"192.168.1.110","port":"8009","volume":"50","x":900,"y":180,"wires":[[]]},{"id":"6a27398a.1688f8","type":"cast-to-client","z":"d4d25319.040dd","name":"home mini","url":"","contentType":"","message":"","language":"es","ip":"","port":"8009","volume":"99","x":1590,"y":343,"wires":[["2a00e5fb.c8019a"]]},{"id":"85f7c0c2.a0e96","type":"cast-to-client","z":"d4d25319.040dd","name":"nest hub","url":"","contentType":"","message":"","language":"es","ip":"","port":"8009","volume":"99","x":1580,"y":303,"wires":[["3cd7168c.e6c89a"]],"icon":"node-red-contrib-cast/cast-cli4.svg"},{"id":"e4d071e3.d660e","type":"cast-to-client","z":"d4d25319.040dd","name":"home mini","url":"","contentType":"","message":"","language":"es","ip":"","port":"8009","volume":"99","x":2030,"y":340,"wires":[[]]},{"id":"1e402f.d965afd1","type":"cast-to-client","z":"d4d25319.040dd","name":"nest hub","url":"","contentType":"","message":"","language":"es","ip":"","port":"8009","volume":"99","x":2020,"y":300,"wires":[[]],"icon":"node-red-contrib-cast/cast-cli4.svg"},{"id":"2895e8a2.ef3fd8","type":"delay","z":"d4d25319.040dd","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":580,"wires":[["58a1eaf3.b50e24"]]},{"id":"c2e4d830.56d82","type":"comment","z":"d4d25319.040dd","name":"check","info":"","x":990,"y":260,"wires":[]},{"id":"4c317cc7.6ddca4","type":"template","z":"d4d25319.040dd","name":"cambiamento stato","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"pending","output":"str","x":650,"y":500,"wires":[["bb7de097.bcc338"]]},{"id":"de743867.f8442","type":"change","z":"d4d25319.040dd","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"armed_away","fromt":"str","to":"ON","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"disarmed","fromt":"str","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":360,"wires":[[]]},{"id":"eebcd172.ce14c","type":"api-current-state","z":"d4d25319.040dd","name":"alarm xiaomi","server":"283c4920.f9c5e6","version":1,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"alarm_control_panel.xiaomi_gateway_alarm","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":850,"y":440,"wires":[["de743867.f8442","bb7de097.bcc338"],["de743867.f8442","bb7de097.bcc338"]]},{"id":"fd7765b4.a7f32","type":"switch","z":"d4d25319.040dd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"28","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":580,"wires":[["2895e8a2.ef3fd8","4c317cc7.6ddca4"],["2895e8a2.ef3fd8","4c317cc7.6ddca4"]]},{"id":"65929235.351b24","type":"function","z":"d4d25319.040dd","name":"Global Settings","func":"\n\n// Global Settings\nglobal.set(\"Counter\",0) \nglobal.set(\"Imagepath\",\"https://YOUR PATH/\")\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":860,"wires":[[]]},{"id":"144fd1ec.525236","type":"inject","z":"d4d25319.040dd","name":"Startup","repeat":"","crontab":"","once":true,"onceDelay":"4","topic":"","payload":"","payloadType":"date","x":60,"y":860,"wires":[["65929235.351b24"]]},{"id":"ba3d72b1.e35a08","type":"ui_template","z":"d4d25319.040dd","group":"f2ab413a.f0bdd","name":"Show Alarm Status Image","order":12,"width":6,"height":5,"format":"<style>\n/* Firefox old*/\n@-moz-keyframes blink {\n    0% { opacity:1;}\n    50% {opacity:0;}\n    100% {opacity:1;}\n} \n\n@-webkit-keyframes blink {\n    0% {opacity:1;}\n    50% {opacity:0;}\n    100% {opacity:1;}\n}\n/* IE */\n@-ms-keyframes blink {\n    0% {opacity:1;}\n    50% {opacity:0;}\n    100% {opacity:1;}\n} \n/* Opera and prob css3 final iteration */\n@keyframes blink {\n    0% {opacity:1;}\n    50% {opacity:0;}\n    100% {opacity:1;}\n} \n.blink-image {\n    -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */\n    -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */\n    -ms-animation: blink normal 2s infinite ease-in-out; /* IE */\n    animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */\n    display: block;\n    margin-left: auto;\n    margin-right: auto;\n    width:250px;\n    vertical-align: middle;\n}\n\n.marginauto {\n    display: block;\n    margin-left: auto;\n    margin-right: auto;\n    width:250px;\n    vertical-align: middle;\n}\n\n</style>\n\n\n<div  ng-click=\"send({payload:'Clicked'});\">\n  \n<div ng-bind-html=\"msg.payload\"></div>\n\n</div>\n\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1290,"y":480,"wires":[[]]},{"id":"bb7de097.bcc338","type":"function","z":"d4d25319.040dd","name":"set state image","func":"imagepath = global.get(\"Imagepath\"); \nif (msg.payload === \"armed_away\") { msg.payload = '<img class=\"marginauto\" src=\"' + imagepath + 'lock.png\">'; }\nelse if (msg.payload === \"pending\") { msg.payload = '<img class=\"blink-image\" src=\"' + imagepath + 'attention.png\">'; }\nelse if (msg.payload === \"disarmed\") { msg.payload = '<img class=\"marginauto\" src=\"' + imagepath + 'unlock.png\">'; }\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":480,"wires":[["ba3d72b1.e35a08"]]},{"id":"96da01e7.41a0a8","type":"ui_template","z":"d4d25319.040dd","group":"c73426f8.81481","name":"stuff","order":10,"width":6,"height":1,"format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 20px 20px 20px 20px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 14px;\n}\n\n   .littlefont {\n  font-size: 10px;\n}\n\n  #masonry-container {\n      background: white;\n  }\n  \n  }\n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"#33ccff\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":50,"y":960,"wires":[[]]},{"id":"4dd39131.1b2bb","type":"comment","z":"d4d25319.040dd","name":"settaggi","info":"","x":40,"y":920,"wires":[]},{"id":"d6eb485.fb52638","type":"google-home-conf","username":"william"},{"id":"c73426f8.81481","type":"ui_group","name":"ALARM","tab":"59af066d.01c3e","order":1,"disp":false,"width":"6","collapse":false},{"id":"283c4920.f9c5e6","type":"server","name":"HomeAssistant container","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"f2ab413a.f0bdd","type":"ui_group","name":"IMAGE","tab":"59af066d.01c3e","order":2,"disp":false,"width":"6","collapse":false},{"id":"59af066d.01c3e","type":"ui_tab","name":"Home","icon":"fa-home","order":1,"disabled":false,"hidden":false}]
